@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;375&display=swap');

*:not(i) {
    font-family: 'Recursive', sans-serif !important;
}

.input-field .postfix~input {
    width: 80%;
    width: calc(100% - 3rem);
    margin-left: 0px;
    margin-right: 3rem !important;
}
.input-field .postfix {
    position: absolute;
    width: 3rem;
    right: 0px;
}

.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

code, pre {
    background: #e8ebee;
    font-family: monospace;
}

:not(pre > code) code {
    padding: 0.35vw;
    border-radius: 5px;
}

pre > code, pre {
    border-radius: 10px;
    margin-right: 5vw;
}

.hljs {
    background: initial;
    color: initial;
}

strong {
    font-weight: bold;
}
