{% extends "base.html" %}
{% block title %}Blogs{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block blogs_link_nav %}
<li><a style="color: #2388db;" href="/">Blogs</a></li>
{% endblock %}

{% block content %}
<div style="display: flex; flex-wrap: wrap;">
    {% for blog in find_blogs() %}
    <div onclick="window.location=`{{ blog['link'] }}`"
        style="cursor: pointer; margin: 1em; border: 2px solid lightgray; padding: 0.5vw; padding-bottom: 4em; text-align: center; width: 18em"
        class="z-depth-2">
        <h5 style="word-wrap: break-word; max-width: 12em;">{{ blog['title'] }}</h5>
        <p>Published: {{ blog['date_released'] }}</p>
        <p>Posted By: <a style="text-decoration: underline;" href='/user/{{ blog["user"] }}'>{{ blog["user"] }}</a></p>
        <img src="{{ blog['image'] }}" style="width: 12em; ">
    </div>
    {% endfor %}
</div>
{% endblock %}