{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block extra_in_head %}
<script src="/static/show_password.js"></script>
{% endblock %}

{% block content %}
<div style="text-align: center;" class="container">
    <h4>Forgot Password</h4>
    <form id="change-password-form" method="POST" style="display: inline-block; text-align: center; width: 100%">
        <div style="border: 2px solid gray; border-radius: 0.5vw; text-align: center;">
            <div class="input-field">
                <a onclick="ShowPassword('password')"><i
                        class="required unselectable postfix mdi mdi-arrow-right material-icons"
                        style="color: black; padding-top: 10px;">remove_red_eye</i></a>
                <i class="material-icons prefix unselectable">lock</i>
                <input id="password" type="password" name="password" required>
                <label for="password">Password</label>
            </div>
            <div class="input-field">
                <a onclick="ShowPassword('confirm_password')"><i
                        class="required unselectable postfix mdi mdi-arrow-right material-icons"
                        style="color: black; padding-top: 10px;">remove_red_eye</i></a>
                <i class="material-icons prefix unselectable">lock</i>
                <input id="confirm_password" type="password" name="confirm_password" required>
                <label for="confirm_password">Confirm Password</label>
            </div>
            <button style="z-index: 1; background: black; color: white" class="waves-effect waves-light btn">Change
                Password</button>
            <br>
            <br>
        </div>
    </form>
</div>
{% endblock %}