{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div style="text-align: center;" class="container">
    <h4>Forgot Password</h4>
    <form id="change-password-form" method="POST" style="display: inline-block; text-align: center; width: 100%">
        <div style="border: 2px solid gray; border-radius: 0.5vw; text-align: center;">
            <div class="input-field">
                <i class="material-icons prefix unselectable">email</i>
                <input id="email" class=" validate" type="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <button style="z-index: 1; background: black; color: white"
                class="waves-effect waves-light btn">Change Password</button>
            <br>
            <br>
        </div>
    </form>
</div>
{% endblock %}
